link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

script(type='text/javascript', src='/bower/angular/angular.min.js')
script(type='text/javascript', src='/bower/angular-resource/angular-resource.min.js')
script(type='text/javascript', src='/app/app.js')

script(type='text/javascript', src='/app/app.controller.js')

body(ng-app='app')
  .container
    div(ng-controller='TestCtrl as vm')
      h1 Find a Job Today!
      .list-group
        a.list-group-item(href='#')(ng-repeat='job in vm.jobs')
          h4.list-group-item-heading {{ job.title }}
          p.list-group-item-text {{ job.description }}